*{
    margin: 0;
    padding: 0;
    text-align: center;
    color: yellow;
}
#banner{
    background: url(img/background.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.logo{
    float: left;
    width: 125px;
}

.banner-text{
    text-align: center;
    color: #fff;
    padding-top: 180px;
}
.banner-text h1{
    font-size: 130px;
}
.banner-text p{
    font-size: 20px;
    
}

.hr {
    color: #383838;
}

.info {
    text-align: center;
    bottom: 10%;
    font-size: 10px;
}